.todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  margin: 0.1rem 0;
  color: var(--color-text);
}
.checkbox {
  width: 1.5rem;
  height: 1.5rem;
}

.text {
  flex: 1 1 0%; /* 모든 아이템을 균등 분할*/
  margin-left: 0.5rem;
  font-size: 1.5rem;
}
.icon {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: var(--color-accent);
  transition: all 150ms ease-out;
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon:hover {
  background-color: hotpink;
  transform: scale(1.1);
}
.button {
  background-color: transparent;
  color: #fff;
}