.toggle {
  font-size: 1.5rem;
  cursor: pointer;
  background-color: transparent;
  color: black;
  transition: all 150ms ease-out;
}
.toggle:hover {
  transform: scale(1.1);
  color: hotpink;
}
.filters {
  display: flex;
  background-color: var(--color-bg-dark);
}
.filter {
  font-size: 1.4rem;
  margin: 0.3rem;
  text-transform: capitalize;
  background-color: transparent;
  color: var(--color-text);
  opacity: 0.8;
  font-weight: bold;
}
.filter:hover, .filter.selected {
  opacity: 1;
  color: pink;
}
.filter.selected::after {
  content: '';
  display: block;
  margin-top: 0.2rem;
  border: 1px solid pink;
}