.form {
  width: 100%;
  display: flex;

}
.input{
  flex: 1 0 auto;
  padding: 0 10px;
  border: none;
  outline: none;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  background-color: rgb(202, 202, 202);
}
.button {
  cursor: pointer;
  background-color: pink;
  color: #fff;
  font-weight: bold;
  font-size: 1.5rem;
  padding: 0 2rem;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;

}