:root {
  --color-bg-dark: transparent;
  --color-bg: #fdfffd;
  --color-gray: #d1d1d1;
  --color-text: black;
  --color-accent: pink;
  --color-white: #fff;
  --color-scrollbar: #aaa7a7;
}

html.dark {
  --color-bg-dark: #1a1c35;
  --color-bg: #22243b;
  --color-gray: #4e4e4e;
  --color-text: #fdfffd;
}

body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  accent-color: pink;
  background: #EEAECA;
  background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
}
* {
  box-sizing: border-box;
}
ul {
  list-style: none;
  padding-left: 0;
}
button {
  outline: none;
  border: none;
}

